<h1>Machine: {{ ansible_hostname}} </h1>
<ul>
<li>Interfaces : {{ansible_default_ipv4.alias}}</li>
<li>Architecture: {{ ansible_architecture}} </li>
<li>OS: {{ansible_distribution}}</li>
<li>Version: {{ansible_distribution_version}} </li>
</ul>